In [1]:
import pandas as pd
import numpy as np

1. Pandas in the open source python library data analysis. Its a powerful library. 
2. Python has great for manipulating data but pandas make it more powerful. Pandas is very fast and quick because it is based on spilled on the top of numpy. It has two data structures: series and data frames. 
3. Data frameswill be heavily used. 
4. Series can be thought of as one dimensional array object. 
3. It is one dimensional array or list or column in a table but it can have labels.
4. Labelled arrays or labelled columns or vectors are sort of one dimensional indexed array. 
5. In addition to index, each element can have a name. so each element can be accessed either by index or name
6. Data frame is powerful data structure and comes in pandas package. 
7.Data frames are 2 dimensional labelled data structure with columns of different types. They are 2 dimensional in a grid like format (like  2 dimensional array or Database tables or Excel sheet ).
8. They have labelled columns and rows and data can of different types.
Data frames consists of components: 1. Data itself, index and the column

In [3]:
import numpy as np
a=np.array([('ihsan',20,'lahore'),('femala',21,'shabe qadar'),('engin',21,'swabi')])
print(a)

[['ihsan' '20' 'lahore']
 ['femala' '21' 'shabe qadar']
 ['engin' '21' 'swabi']]

In [4]:
import pandas as pd

In [5]:
series=pd.Series(['atif',80,'Pehwar'])
series

0      atif
1        80
2    Pehwar
dtype: object

In [6]:
series1=pd.Series(['ali',37,'Peshawar',5.5])  # create a series by passing a list of different elements
series1

0         ali
1          37
2    Peshawar
3         5.5
dtype: object

In [7]:
series1 # series is one dimensional object array

0         ali
1          37
2    Peshawar
3         5.5
dtype: object

In [8]:
type(series1)

pandas.core.series.Series

In [11]:
ser1=pd.Series(['ali',37,'Peshawar',5.5] , index=['name','age','city','hgt']) #create a series by passing two list                                                                    # list of values and list or array of indices 
ser1

name         ali
age           37
city    Peshawar
hgt          5.5
dtype: object

In [14]:
#ser1['name']
ser1.iloc[0]

'ali'

In [19]:
print(ser1[0])# elements of series object canbe  accessed by numeric index or labels (provided by you as index)

ali

In [17]:
ser1['name'] #ser1[1]    #ser1['age'] or ser1[1]

'ali'

In [15]:
my_series = pd.Series({'London':10,'Tripoli':100,'Cairo':10}) #create a series by passing a dictionary

In [16]:
my_series    # dictionary do not care about the order, we can acces the value by the key

London      10
Tripoli    100
Cairo       10
dtype: int64

In [17]:
my_series['Tripoli']

100

In [19]:
my_series[my_series > 1] # filtering the dictionary

London      10
Tripoli    100
Cairo       10
dtype: int64

In [20]:
my_series[my_series == 10] # filtering the dictionary

London    10
Cairo     10
dtype: int64

In [22]:
my_series[my_series == 100] # filtering the dictionary

Tripoli    100
dtype: int64